  <nav class="navbar navbar-expand-lg header">
    <div class="container">
      <a class="navbar-brand link-logo" href="#"><img src="../assets/images/logo16.jpeg" class="img-logo"><b>AdGan</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav" id="navbarNavDarkDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ganaderos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="allOwners" [ngClass]="{active: menuOption == 'allOwners'}"
                (click)="onOption('allOwners')">Todos los Ganaderos</a>
              </li>
              <li><a class="dropdown-item" routerLink="owners" [ngClass]="{active: menuOption == 'owners'}"
                (click)="onOption('owners')">Ganaderos</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Animales
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="allCattles" [ngClass]="{active: menuOption == 'allCattles'}"
                (click)="onOption('allCattles')">Todo el Ganado</a>
              </li>
              <li><a class="dropdown-item" routerLink="cattles" [ngClass]="{active: menuOption == 'cattles'}"
                (click)="onOption('cattles')">Ganado</a>
              </li>
              <li><a class="dropdown-item" routerLink="resume" [ngClass]="{active: menuOption == 'resume'}"
                (click)="onOption('resume')">Resumen de ganado</a>
              </li>
              <li><a class="dropdown-item" routerLink="sold" [ngClass]="{active: menuOption == 'sold'}"
                (click)="onOption('sold')">Ganado Vendido</a>
              </li>
              <li><a class="dropdown-item" routerLink="notAvailable" [ngClass]="{active: menuOption == 'notAvailable'}"
                (click)="onOption('notAvailable')">Ganado No Disponible</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ventas
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="allSales" [ngClass]="{active: menuOption == 'allSales'}"
                (click)="onOption('allSales')">Todas la Ventas</a>
              </li>
              <li><a class="dropdown-item" routerLink="sales" [ngClass]="{active: menuOption == 'sales'}"
                (click)="onOption('sales')">Ventas</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="../../../assets/js/script-index.js"></script>

<router-outlet />