@if (loading) {
<app-loading />
}

@if (!loading) {
  <section class="section-table">
    <div class="container">
      <h3>Listado de ganado no disponible</h3>
        <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Estado</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Nombre Dueño</th>
          <th scope="col">Apellido Dueño</th>
          <th scope="col">Correo</th>
          <th scope="col">Contacto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (cattle of listCattles; track $index) {
        <tr>
          <th scope="row">{{ cattle.idCattle }}</th>
          <td>{{ cattle.estado }}</td>
          <td>{{ cattle.nombre }}</td>
          <td>{{ cattle.fechaNacimiento }}</td>
          <td>{{ cattle.nombreOwner }}</td>
          <td>{{ cattle.apellido }}</td>
          <td>{{ cattle.correo }}</td>
          <td>{{ cattle.contacto }}</td>
          <td>
            <img src="../../../../assets/icons/detalle.png" alt="Detalle" class="icon mx-1" (click)="navegate(cattle.idCattle)">
          </td> 
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
}