@if (loading) {
  <app-loading/>
}

@if (!loading) {
    <section class="section-table">
        <div class="container-detail">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/images/ejm-card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Nombre: </b>{{ cattle?.nombre }}</h5>
              <p class="card-text"><b>Fecha de nacimiento: </b>{{ cattle?.fechaNacimiento }}</p>
              <p class="card-text"><b>Nombre dueño: </b>{{ cattle?.nombreOwner }} {{ cattle?.apellido }}</p>
              <p class="card-text"><b>Correo: </b>{{ cattle?.correo }}</p>
              <p class="card-text"><b>Celular: </b>{{ cattle?.contacto }}</p>
            </div>
          </div>
        </div>
    </section>
}