@if (loading) {
  <app-loading/>
}

@if (!loading) {
<section class="section-table">
  <div class="container">
    <div class="d-flex justify-content-between my-1">
    <h3>Listado del ganado</h3>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Animal</button>
  </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Nombre Dueño</th>
            <th scope="col">Apellido Dueño</th>
            <th scope="col">Correo</th>
            <th scope="col">Contacto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (cattle of listCattles; track $index) {
                <tr>
                  <th scope="row">{{ cattle.idCattle }}</th>
                  <td>{{ cattle.nombre }}</td>
                  <td>{{ cattle.fechaNacimiento }}</td>
                  <td>{{ cattle.nombreOwner }}</td>
                  <td>{{ cattle.apellido }}</td>
                  <td>{{ cattle.correo }}</td>
                  <td>{{ cattle.contacto }}</td>
                  <td>
                    <img src="../../../../assets/icons/detalle.png" alt="Detalle" class="icon mx-1" (click)="navegate(cattle.idCattle)">
                  </td> 
                </tr>
            }
        </tbody>
      </table>
</div>
</section>
}

<!--Modal para agregar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir nuevo animal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cattleForm" class="row g-3 needs-Validation" novalidate (submit)="enviar($event)">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Manchas" formControlName="nombre"
            [ngClass]="{'is-invalid' : hasErrors('nombre', 'required') || hasErrors('nombre','minlength')}">
            @if (hasErrors('nombre', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('nombre', 'minlength')) { <span class="text-danger">El nombre debe tener al menos 3 caracteres</span> }
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="exampleFormControlInput2" placeholder="2021-02-28" formControlName="nacimiento"
            [ngClass]="{'is-invalid' : hasErrors('nacimiento', 'required') || hasErrors('nacimiento','minlength')}">
            @if (hasErrors('nacimiento', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('nacimiento', 'minlength')) { <span class="text-danger">La fecha debe tener al menos 10 caracteres</span> }
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Id Dueño</label>
            <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="1" formControlName="owner"
            [ngClass]="{'is-invalid' : hasErrors('owner', 'required') || hasErrors('owner','minlength')}">
            @if (hasErrors('owner', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('owner', 'minlength')) { <span class="text-danger">El id debe tener al menos 1 caracteres</span> }
          </div>
          <div class="col-12">
            <button class="btn btn-outline-primary" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>