/*--------------------------------Header-----------------------------------------*/
.header,
.tecno,
.endpoint {
    font-family: poppins;
    background: rgb(5, 37, 0);
    background: linear-gradient(90deg, rgba(5, 37, 0, 1) 50%, rgba(23, 89, 14, 1) 100%);
    padding: 10px 0px;
    background-size: 100% 100%;
    background-position: center center;
}

.navbar a {
    color: #fff;
}

.navbar a:hover,
.nav-link.show {
    color: #c3fcb6 !important;
}

.dropdown-menu a {
    color: #000;
    background: #c3fcb6;
}

#navbarScroll>ul>li>ul>li>a {
    color: #000 !important;
}


/*---------------------------------------Carrusel-------------------------------------------*/

.banner-main {
    position: relative;
    font-family: poppins;
}

.banner-main .carousel-item img {
    width: 100%;
}

.banner-main .carousel-caption span {
    font-weight: bold;
    color: #1e8a0b;
    text-transform: uppercase;
    display: block;
}

.banner-main .carousel-caption h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.banner-main .carousel-caption p {
    color: #f2feef;
}

@media (min-width: 1300px) {
    .banner-main .carousel-caption h1 {font-size: 7em; line-height: 84px; padding-bottom: 20px;}
    .banner-main .carousel-caption span {font-size: 4em; line-height: 60px; padding-bottom: 10px;}
    .banner-main .carousel-caption p {font-size: 2.3em; line-height: 31px; padding: 6px 0px 50px 0px;}
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .banner-main .carousel-caption h1 {font-size: 4.2em; line-height: 50px; padding-bottom: 12px;}
    .banner-main .carousel-caption span {font-size: 2.4em; line-height: 36px; padding-bottom: 6px;}
    .banner-main .carousel-caption p {font-size: 1.38em; line-height: 18px; padding: 6px 0px 50px 0px;}
}

@media (min-width: 700px) and (max-width: 1000px) {
    .banner-main .carousel-caption h1 {font-size: 2.94em; line-height: 30px; padding-bottom: 7px;}
    .banner-main .carousel-caption span {font-size: 1.68em; line-height: 21px; padding-bottom: 3px;}
    .banner-main .carousel-caption p {font-size: 0.96em; line-height: 11px; padding: 6px 0px 50px 0px;}
}

/*----------------------------------info-bd----------------------------------*/
.info-bd,
.security,
footer {
    background: #f2feef;
}

.info-bd-box {
    margin: auto;
}

.info-bd-box span {
    font-size: 2em;
    font-weight: bold;
    color: #1e8a0b;
    display: inline-block;
}

.info-bd .info-bd-box {
    text-align: left;
}

.info-bd .info-bd-box h2 {
    font-weight: 500;
    font-size: 43px;
    color: #163f03;
    line-height: 55px;
    padding-bottom: 7px;
    display: block;
    text-transform: uppercase;
    padding: 0px 0px 6px 0px;
    border-bottom: #163f03 solid 1px;
}

.info-bd .info-bd-box p {
    font-size: 17px;
    line-height: 33px;
    color: #4c4a49;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}

/*-----------------------------------Tecnologias----------------------------------*/

.img-icon {
    margin: 0 1em;
}

.title-tecno {
    color: #e0ffd9;
}

/*-------------------------------Table-endpoints----------------------------------*/

.endpoint table {
    text-align: center;
    color: #fff;
}

.endpoint .tit-endpoint {
    color: #f2feef;
}

#table-endpoint {
    --bs-table-bg: #1d6c0f;
    border-style: dashed;
}

#table-endpoint>tr {
    border: 1px dashed #f2feef;
}

.info {
    text-align: left;
}



/*--deep-fir-50: #f2feef;
--deep-fir-100: #e0ffd9;
--deep-fir-200: #c3fcb6;
--deep-fir-300: #92f87d;
--deep-fir-400: #59eb3d;
--deep-fir-500: #31d413;
--deep-fir-600: #23b009;
--deep-fir-700: #1e8a0b;
--deep-fir-800: #1d6c0f;
--deep-fir-900: #17590e;
--deep-fir-950: #052501;*/