@if (loading) {
  <app-loading/>
}

@if (!loading) {
  <section class="section-table">
    <div class="container">
      <h3>Listado de todo el ganado</h3>
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Estado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Nombre Dueño</th>
            <th scope="col">Apellido Dueño</th>
            <th scope="col">Correo</th>
            <th scope="col">Contacto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (cattle of listCattles; track $index) {
                <tr>
                <th scope="row">{{ cattle.idCattle }}</th>
                <td>{{ cattle.estado }}</td>
                <td>{{ cattle.nombre }}</td>
                <td>{{ cattle.fechaNacimiento }}</td>
                <td>{{ cattle.nombreOwner }}</td>
                <td>{{ cattle.apellido }}</td>
                <td>{{ cattle.correo }}</td>
                <td>{{ cattle.contacto }}</td>
                <td>
                  <img src="../../../../assets/icons/detalle.png" alt="Detalle" class="icon mx-1" (click)="navegate(cattle.idCattle)">
                  <img src="../../../../assets/icons/editar.png" alt="Actualizar" class="icon mx-1" (click)="loadCattle(cattle.idCattle)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <img src="../../../../assets/icons/eliminar.png" alt="Eliminar" class="icon mx-1" (click)="deleteCattle(cattle.idCattle)">
                 </td> 
                </tr>
            }
        </tbody>
      </table>
</div>
</section>
}

<!--Modal para actualizar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir nuevo animal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cattleForm" class="row g-3 needs-Validation" novalidate (submit)="enviar($event)">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombre"
            [ngClass]="{'is-invalid' : hasErrors('nombre', 'required') || hasErrors('nombre','minlength')}">
            @if (hasErrors('nombre', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('nombre', 'minlength')) { <span class="text-danger">El nombre debe tener al menos 3 caracteres</span> }
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="exampleFormControlInput2" formControlName="fechaNacimiento"
            [ngClass]="{'is-invalid' : hasErrors('fechaNacimiento', 'required') || hasErrors('fechaNacimiento','minlength')}">
            @if (hasErrors('fechaNacimiento', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('fechaNacimiento', 'minlength')) { <span class="text-danger">La fecha debe tener al menos 10 caracteres</span> }
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Id Dueño</label>
            <input type="number" class="form-control" id="exampleFormControlInput3" formControlName="idOwner"
            [ngClass]="{'is-invalid' : hasErrors('idOwner', 'required') || hasErrors('idOwner','minlength')}">
            @if (hasErrors('idOwner', 'required')) { <span class="text-danger">Complete el campo</span> }
            @if (hasErrors('idOwner', 'minlength')) { <span class="text-danger">El id debe tener al menos 1 caracteres</span> }
          </div>
          <div class="col-12">
            <button class="btn btn-outline-primary" type="submit">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>