@if (loading) {
    <app-loading/>
  }
  
  @if (!loading) {
      <section class="section-table">
          <div class="container-detail">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Nombre Completo: </b>{{ owner?.nombre }} {{ owner?.apellido }}</h5>
                <!--<p class="card-text">
                    @for (owner of owner?.roles; track $index) {
                        <b>Rol: </b>{{ owner.name }}
                    }
                  </p>-->
                <p class="card-text"> {{ owner?.role?.name }}</p>
                <p class="card-text"><b>Username:</b> {{ owner?.username }}</p>
                <p class="card-text"><b>Estado: </b>@if (owner?.estado) {Activo} @else {Inactivo}</p>
                <p class="card-text"><b>Correo: </b>{{ owner?.correo }}</p>
                <p class="card-text"><b>Celular: </b>{{ owner?.contacto }}</p>
              </div>
            </div>
          </div>
      </section>
  }