@if (loading) {
<app-loading />
}

@if (!loading) {
  <section class="section-table">
    <div class="container">
      <h3>Listado de ventas</h3>
        <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Fecha Venta</th>
          <th scope="col">Precio/Kilo</th>
          <th scope="col">Valor Camion</th>
          <th scope="col">Valor Bascula</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (sale of listSale; track $index) {
        <tr>
          <th scope="row">{{ sale.idSale }}</th>
          <td>{{ sale.fechaVenta }}</td>
          <td>{{ sale.precioKilo | currency: '' : 'symbol' : '3.0-0' }}</td>
          <td>{{ sale.valorCamion | currency: '' : 'symbol' : '3.0-0' }}</td>
          <td>{{ sale.valorBascula | currency: '' : 'symbol' : '3.0-0' }}</td>
          <td>
            <img src="../../../../assets/icons/detalle.png" alt="Detalle" class="icon mx-1" (click)="navegate(sale.idSale)">
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
}